/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1a1a1a;
  color: #fff;
}

.container {
  display: flex;
}

.side-bar {
  width: 300px;
  background-color: #262626;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.logo img {
  width: 70px;
}

.logo p {
  font-size: 24px;
  font-weight: 700;
}

.logo p span {
  color: #ff4444;
}

.nav-links ul {
  list-style: none;
}

.nav-links ul li a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.nav-links ul li a:hover {
  background-color: #333;
}

.nav-links ul li a i {
  margin-right: 10px;
}

.extras {
  margin-top: 20px;
}

.discount {
  margin-top: 30px;
  padding: 20px;
  background-color: #333;
  text-align: center;
}

.discount h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.discount p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 20px;
}

.btn {
  background-color: #ff4444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #e63030;
}

.main-content {
  display: flex;
  flex: 1;
}

.main {
  flex: 3;
  padding: 20px 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  position: relative;
}

.search-bar input {
  background-color: #333;
  border: none;
  padding: 10px 20px;
  color: #fff;
  width: 300px;
  border-radius: 20px;
}

.search-bar i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #ccc;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info i {
  margin-right: 10px;
  color: #ccc;
}

.user-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info p {
  margin-right: 10px;
}

.categories button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.categories button:hover {
  background-color: #444;
}

.game-info {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.game-image img {
  width: 600px;
  height: auto;
  border-radius: 10px;
  margin-right: 30px;
}

.game-details h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.game-details p {
  color: #ccc;
  margin-bottom: 20px;
}

.price-buy {
  display: flex;
  align-items: center;
}

.price {
  font-size: 24px;
  font-weight: 600;
  margin-right: 20px;
}

.original-price {
  color: #ccc;
  text-decoration: line-through;
}

.buy-now {
  background-color: #ff4444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-now:hover {
  background-color: #e63030;
}

.actual-games,
.friends-online,
.recently-played {
  margin-bottom: 10px;
  margin-top: 20px;
}

.actual-games h3,
.friends-online h3,
.recently-played h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.game-list {
  display: flex;
}

.game-card,
.game {
  margin-right: 20px;
}

.game {
  display: flex;
  align-items: center;
}

.game-card img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.game img {
  width: 60px;
  object-fit: cover;
  border-radius: 10px;
}

.recently-played-game {
  display: flex;
  flex-direction: column;
}

.game-price {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.friend-list {
  display: flex;
  flex-direction: column;
}

.friend-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.friend-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.friend-info p {
  font-weight: 600;
}

.friend-info span {
  color: #ccc;
  font-size: 14px;
  background: red;
}

.sidebar {
  flex: 1;
  padding: 20px;
}

/* Recently Played Styles */
.recently-played .game-list {
  display: flex;
  flex-direction: column;
}

.recently-played .game {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.recently-played .game img {
  width: 70px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.recently-played .game-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.recently-played .game-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.recently-played .progress-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.recently-played .progress-bar {
  width: 200px;
  height: 5px;
  background-color: #333;
  border-radius: 5px;
  margin-bottom: 5px;
}
.recently-played .progress {
  height: 100%;
  background-color: white;
  border-radius: 5px;
}
.recently-played .progress-percentage {
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
}
